# Minimal direct requirements for eve-market-logger
# Generated with pipreqs


aiohttp==3.12.14
altair==5.5.0
ipython==8.12.3
markdown==3.8.2
pandas==2.3.1
psycopg2-binary==2.9.10
pynarrative==0.3
requests==2.32.4
sqlalchemy==2.0.41
streamlit==1.46.1
